<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Attributes</key>
	<dict>
		<key>SOC</key>
		<dict>
			<key>MLB_Num</key>
			<string></string>
			<key>CFG</key>
			<string></string>
			<key>CPRV</key>
			<string></string>
			<key>DRAM_VENDOR</key>
			<string></string>
			<key>boardid</key>
			<string></string>
			<key>ECID Fuse</key>
			<string></string>
			<key>Lot ID</key>
			<string></string>
			<key>Wafer</key>
			<string></string>
			<key>X Pos</key>
			<string></string>
			<key>Y Pos</key>
			<string></string>
			<key>DRAM_SIZE</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
