<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>R*X</key>
	<array>
	<string>Mav22-0.12.00-7-0525-sky_cpl_based_on_v68-30ab471447dc-4935-debug.zip</string>
	<string>SydneyKita20A22490o</string>
	</array>
	<key>*X</key>
	<array>
	<string>Mav22-0.12.00-7-0525-sky_cpl_based_on_v68-30ab471447dc-4935-debug.zip</string>
	<string>SydneyKita20A22490o</string>
	</array>
</dict>
</plist>
