<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Slot</key>
		<string>1</string>
		<key>VendorID</key>
		<string>0x339e</string>
		<key>LoctionID</key>
		<string>0x14310000</string>
		<key>SlotIndex</key>
		<string>7</string>
	</dict>
	<dict>
		<key>Slot</key>
		<string>2</string>
		<key>VendorID</key>
		<string>0x339e</string>
		<key>LoctionID</key>
		<string>0x14320000</string>
		<key>SlotIndex</key>
		<string>7</string>
	</dict>
	<dict>
		<key>Slot</key>
		<string>3</string>
		<key>VendorID</key>
		<string>0x339e</string>
		<key>LoctionID</key>
		<string>0x14330000</string>
		<key>SlotIndex</key>
		<string>7</string>
	</dict>
	<dict>
		<key>Slot</key>
		<string>4</string>
		<key>VendorID</key>
		<string>0x339e</string>
		<key>LoctionID</key>
		<string>0x14340000</string>
		<key>SlotIndex</key>
		<string>7</string>
	</dict>
		<dict>
		<key>Slot</key>
		<string>1</string>
		<key>VendorID</key>
		<string>0x339e</string>
		<key>LoctionID</key>
		<string>0x14610000</string>
		<key>SlotIndex</key>
		<string>7</string>
	</dict>
	<dict>
		<key>Slot</key>
		<string>2</string>
		<key>VendorID</key>
		<string>0x339e</string>
		<key>LoctionID</key>
		<string>0x14620000</string>
		<key>SlotIndex</key>
		<string>7</string>
	</dict>
	<dict>
		<key>Slot</key>
		<string>3</string>
		<key>VendorID</key>
		<string>0x339e</string>
		<key>LoctionID</key>
		<string>0x14630000</string>
		<key>SlotIndex</key>
		<string>7</string>
	</dict>
	<dict>
		<key>Slot</key>
		<string>4</string>
		<key>VendorID</key>
		<string>0x339e</string>
		<key>LoctionID</key>
		<string>0x14640000</string>
		<key>SlotIndex</key>
		<string>7</string>
	</dict>
</array>
</plist>
