<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>J820</key>
	<dict>
		<key>P1</key>
		<dict>	
			<key>ACE_VERSION_1</key>
			<array>
				<dict>
					<key>SYS_BREV</key>
					<string>0x02</string>
					<key>Ace3_PART</key>
					<string>0x25</string>
					<key>Ace3_RREV</key>
					<string>0x03</string>
					<key>Ace3_PORT</key>
					<string>0x00</string>
					<key>Ace3_TYPE</key>
					<string>SPI</string>
					<key>Ace3_LUN</key>
					<string>1</string>
				</dict>
			</array>
			<key>ACE_VERSION_2</key>
			<array>
				<dict>
					<key>SYS_BREV</key>
					<string>0x02</string>
					<key>Ace3_PART</key>
					<string>0x25</string>
					<key>Ace3_RREV</key>
					<string>0x03</string>
					<key>Ace3_PORT</key>
					<string>0x00</string>
					<key>Ace3_TYPE</key>
					<string>SPI</string>
					<key>Ace3_LUN</key>
					<string>1</string>
				</dict>
			</array>
			<key>ACE_VERSION_3</key>
			<array>
				<dict>
					<key>SYS_BREV</key>
					<string>0x02</string>
					<key>Ace3_PART</key>
					<string>0x25</string>
					<key>Ace3_RREV</key>
					<string>0x03</string>
					<key>Ace3_PORT</key>
					<string>0x00</string>
					<key>Ace3_TYPE</key>
					<string>SPI</string>
					<key>Ace3_LUN</key>
					<string>1</string>
				</dict>
			</array>
			<key>ACE_VERSION_4</key>
			<array>
				<dict>
					<key>SYS_BREV</key>
					<string>0x02</string>
					<key>Ace3_PART</key>
					<string>0x25</string>
					<key>Ace3_RREV</key>
					<string>0x03</string>
					<key>Ace3_PORT</key>
					<string>0x00</string>
					<key>Ace3_TYPE</key>
					<string>SPI</string>
					<key>Ace3_LUN</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>J817</key>
	<dict>
		<key>P1</key>
		<dict>	
			<key>ACE_VERSION_1</key>
			<array>
				<dict>
					<key>SYS_BREV</key>
					<string>0x02</string>
					<key>Ace3_PART</key>
					<string>0x25</string>
					<key>Ace3_RREV</key>
					<string>0x03</string>
					<key>Ace3_PORT</key>
					<string>0x00</string>
					<key>Ace3_TYPE</key>
					<string>SPI</string>
					<key>Ace3_LUN</key>
					<string>1</string>
				</dict>
			</array>
			<key>ACE_VERSION_2</key>
			<array>
				<dict>
					<key>SYS_BREV</key>
					<string>0x02</string>
					<key>Ace3_PART</key>
					<string>0x25</string>
					<key>Ace3_RREV</key>
					<string>0x03</string>
					<key>Ace3_PORT</key>
					<string>0x00</string>
					<key>Ace3_TYPE</key>
					<string>SPI</string>
					<key>Ace3_LUN</key>
					<string>1</string>
				</dict>
			</array>
			<key>ACE_VERSION_3</key>
			<array>
				<dict>
					<key>SYS_BREV</key>
					<string>0x02</string>
					<key>Ace3_PART</key>
					<string>0x25</string>
					<key>Ace3_RREV</key>
					<string>0x03</string>
					<key>Ace3_PORT</key>
					<string>0x00</string>
					<key>Ace3_TYPE</key>
					<string>SPI</string>
					<key>Ace3_LUN</key>
					<string>1</string>
				</dict>
			</array>
			<key>ACE_VERSION_4</key>
			<array>
				<dict>
					<key>SYS_BREV</key>
					<string>0x02</string>
					<key>Ace3_PART</key>
					<string>0x25</string>
					<key>Ace3_RREV</key>
					<string>0x03</string>
					<key>Ace3_PORT</key>
					<string>0x00</string>
					<key>Ace3_TYPE</key>
					<string>SPI</string>
					<key>Ace3_LUN</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
