<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>groups</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>Group-1</string>
			<key>user</key>
			<string>MFG</string>
			<key>prefixSN</key>
			<string>H</string>
			<key>units</key>
			<array>
				<dict>
					<key>identifier</key>
					<string>Slot-1</string>
					<key>unit_transports</key>
					<array>
						<dict>
							<key>metadata</key>
							<dict>
								<key>virtualport</key>
								<string>xav2://169.254.1.32:7801/uart_SoC</string>
								<key>virtualportconfig</key>
								<string>{&quot;host_nc_ip&quot;:&quot;169.254.1.88&quot;}</string>
							</dict>
							<key>url</key>
							<string>uart:///tmp/dev/DUT11</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>identifier</key>
					<string>Slot-2</string>
					<key>unit_transports</key>
					<array>
						<dict>
							<key>metadata</key>
							<dict>
								<key>virtualport</key>
								<string>xav2://169.254.1.32:7802/uart_SoC</string>
								<key>virtualportconfig</key>
								<string>{&quot;host_nc_ip&quot;:&quot;169.254.1.88&quot;}</string>
							</dict>
							<key>url</key>
							<string>uart:///tmp/dev/DUT12</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>identifier</key>
					<string>Slot-3</string>
					<key>unit_transports</key>
					<array>
						<dict>
							<key>metadata</key>
							<dict>
								<key>virtualport</key>
								<string>xav2://169.254.1.32:7803/uart_SoC</string>
								<key>virtualportconfig</key>
								<string>{&quot;host_nc_ip&quot;:&quot;169.254.1.88&quot;}</string>
							</dict>
							<key>url</key>
							<string>uart:///tmp/dev/DUT13</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>identifier</key>
					<string>Slot-4</string>
					<key>unit_transports</key>
					<array>
						<dict>
							<key>metadata</key>
							<dict>
								<key>virtualport</key>
								<string>xav2://169.254.1.32:7804/uart_SoC</string>
								<key>virtualportconfig</key>
								<string>{&quot;host_nc_ip&quot;:&quot;169.254.1.88&quot;}</string>
							</dict>
							<key>url</key>
							<string>uart:///tmp/dev/DUT14</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>xavier_ip</key>
			<string>169.254.1.32</string>
			<key>usbMonitor</key>
			<dict>
				<key>idProduct</key>
				<integer>4100</integer>
				<key>idVendor</key>
				<integer>11555</integer>
				<key>popupMessage</key>
				<string>Microtest USB Cable</string>
				<key>popupsEnabled</key>
				<true/>
			</dict>
		</dict>
	</array>
</dict>
</plist>
